@import 'bootstrap/dist/css/bootstrap';


.jumbotron {
    background-image: asset-url('writing-home.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}